<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Select Five stocks from below options</h2>
    <form class="" action="/get" method="POST">

    <label for=""> Selct stock 1: </label>
    <input type="text" name="stock1" value="" required>
    <!-- <select class="" name="stocks" id = "stocks">
      <option value="AAPL">Apple(AAPL)</option>
      <option value="MSFT">Microsoft</option>
      <option value="AMZN">Amazon</option>
      <option value="FB">Facebook</option>
      <option value="TSLA">Tesla</option>
    </select> -->
    <label for=""> Selct stock 2: </label>
    <input type="text" name="stock2" value="">
    <!-- <select class="" name="stocks" id = "stocks">
      <option value="AAPL">Apple(AAPL)</option>
      <option value="MSFT">Microsoft</option>
      <option value="AMZN">Amazon</option>
      <option value="FB">Facebook</option>
      <option value="TSLA">Tesla</option>
    </select> -->
    <label for=""> Selct stock 3: </label>
    <input type="text" name="stock3" value="">
    <!-- <select class="" name="stocks" id = "stocks">
      <option value="AAPL">Apple(AAPL)</option>
      <option value="MSFT">Microsoft</option>
      <option value="AMZN">Amazon</option>
      <option value="FB">Facebook</option>
      <option value="TSLA">Tesla</option>
    </select> -->
    <label for=""> Selct stock 4: </label>
    <input type="text" name="stock4" value="">
    <!-- <select class="" name="stocks" id = "stocks">
      <option value="AAPL">Apple(AAPL)</option>
      <option value="MSFT">Microsoft</option>
      <option value="AMZN">Amazon</option>
      <option value="FB">Facebook</option>
      <option value="TSLA">Tesla</option>
    </select> -->
    <label for=""> Selct stock 5: </label>
    <input type="text" name="stock5" value="">
    <!-- <select class="" name="stocks" id = "stocks">
      <option value="AAPL">Apple(AAPL)</option>
      <option value="MSFT">Microsoft</option>
      <option value="AMZN">Amazon</option>
      <option value="FB">Facebook</option>
      <option value="TSLA">Tesla</option>
    </select> -->
    <br>
    <br>
    <br>
    <label for="">Enter a benchmark</label>
    <input type="text" name="benchmark" value="">


    <label for=""> Selct Start Date: </label>
    <input type="text" name="startdate" value="">

    <label for=""> Select End Date: </label>
    <input type="text" name="enddate" value="">
   
   <input type="submit" name="submit_data" value="Submit">
     <input type="reset" name="Reset" value="reset">

</form>
  </body>
</html>
